<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Channels</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="channelNavigate(1)">CH 1</a>
      <a mat-list-item href="#" (click)="channelNavigate(2)">CH 2</a>
      <a mat-list-item href="#" (click)="channelNavigate(3)">CH 3</a>
      <a mat-list-item href="#" (click)="channelNavigate(4)">CH 4</a>
      <a mat-list-item href="#" (click)="channelNavigate(5)">CH 5</a>
      <a mat-list-item href="#" (click)="channelNavigate(6)">CH 6</a>
      <a mat-list-item href="#" (click)="channelNavigate(7)">CH 7</a>
      <a mat-list-item href="#" (click)="channelNavigate(8)">CH 8</a>
      <a mat-list-item href="#" (click)="channelNavigate(9)">CH 9</a>
      <a mat-list-item href="#" (click)="channelNavigate(10)">CH 10</a>
      <a mat-list-item href="#" (click)="channelNavigate(11)">CH 11</a>
      <a mat-list-item href="#" (click)="channelNavigate(12)">CH 12</a>
      <a mat-list-item href="#" (click)="channelNavigate(13)">CH 13</a>
      <a mat-list-item href="#" (click)="channelNavigate(14)">CH 14</a>
      <a mat-list-item href="#" (click)="channelNavigate(15)">CH 15</a>
      <a mat-list-item href="#" (click)="channelNavigate(16)">CH 16</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>F13Studio-app</span>
    </mat-toolbar>
    <app-vista-general-cancion/>
  </mat-sidenav-content>
</mat-sidenav-container>
