<div class="container mt-2 p-2">
    <mat-grid-list cols="2" rowHeight="3:2">
        <mat-grid-tile (click)="channelNavigate(1)">
            <div class="container center">
                <h6>CH 1</h6>
                <app-card-patch [canal]='1'/>
            </div>
        </mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(2)"><div class="container center">
            <h6>CH 2</h6>
            <app-card-patch [canal]='2'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(3)"><div class="container center">
            <h6>CH 3</h6>
            <app-card-patch [canal]='3'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(4)"><div class="container center">
            <h6>CH 4</h6>
            <app-card-patch [canal]='4'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(5)"><div class="container center">
            <h6>CH 5</h6>
            <app-card-patch [canal]='5'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(6)"><div class="container center">
            <h6>CH 6</h6>
            <app-card-patch [canal]='6'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(7)"><div class="container center">
            <h6>CH 7</h6>
            <app-card-patch [canal]='7'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(8)"><div class="container center">
            <h6>CH 8</h6>
            <app-card-patch [canal]='8'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(9)"><div class="container center">
            <h6>CH 9</h6>
            <app-card-patch [canal]='9'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(10)"><div class="container center">
            <h6>CH 10</h6>
            <app-card-patch [canal]='10'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(11)"><div class="container center">
            <h6>CH 11</h6>
            <app-card-patch [canal]='11'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(12)"><div class="container center">
            <h6>CH 12</h6>
            <app-card-patch [canal]='12'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(13)"><div class="container center">
            <h6>CH 13</h6>
            <app-card-patch [canal]='13'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(14)"><div class="container center">
            <h6>CH 14</h6>
            <app-card-patch [canal]='14'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(15)"><div class="container center">
            <h6>CH 15</h6>
            <app-card-patch [canal]='15'/>
        </div></mat-grid-tile>
        <mat-grid-tile (click)="channelNavigate(16)"><div class="container center">
            <h6>CH 16</h6>
            <app-card-patch [canal]='16'/>
        </div></mat-grid-tile>
    </mat-grid-list>
</div>
